PG_PASS="changeme"
PG_USER=authentik-db-admin
PG_DB=authentik-db
ROOT_DOMAIN="test.com"
AUTHENTIK_SECRET_KEY="changeme"
AUTHENTIK_LDAP_OUTPOST_TOKEN="changeme123"
AUTHENTIK_COOKIE_DOMAIN="login.test.com"
# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST=mail.test.com
AUTHENTIK_EMAIL__PORT=1025
# Optionally authenticate (don't add quotation marks to your password)
AUTHENTIK_EMAIL__USERNAME=email@test.com
AUTHENTIK_EMAIL__PASSWORD="changeme"
# Use StartTLS
AUTHENTIK_EMAIL__USE_TLS=true
# Use SSL
AUTHENTIK_EMAIL__USE_SSL=false
AUTHENTIK_EMAIL__TIMEOUT=10
# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM=email@test.com
GOTIFY_CLIENT_TOKENS=
TZ=Australia/Melbourne
BESZEL_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPIv1JXxs29P5Al9Smkb1SVXLnrhQQaTLBSFRKnJ5GYB"
GITLAB_URL="http://localhost:80/"
ADMIN_EMAIL=email@test.com
BACKEND_IPV6=fd4a:0306:b776::/64
BACKEND_IPV4=172.16.0.0/24
FRONTEND_IPV6=fd4a:0306:b776:1::/64
FRONTEND_IPV4=172.16.1.0/24
SOCKET_PROXY_IPV6=fd4a:0306:b776:2::/64
SOCKET_PROXY_IPV4=172.16.2.0/24
SOCKET_PROXY_IP=172.16.2.254
AUTHENTIK_IP1=172.16.1.101
AUTHENTIK_IP2=172.16.0.101
AUTHENTIK_IP3=172.16.2.101